{% if questions.has_other_pages %}
    <ul class="pagination">
        {% if questions.has_previous %}
            <li><a href="?{{ get_parameters }}page={{ questions.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in questions.paginator.page_range %}
            {% if questions.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a href="?{{ get_parameters }}page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if questions.has_next %}
            <li><a href="?{{ get_parameters }}page={{ questions.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
{% endif %}